.dashboard_container {
    border: 2px solid white;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    height: 400px; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
  }
  
  .dashboard_components {
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 150px; 
    height: 150px; 
    background-color: white;
    margin: 5px;
    overflow: hidden; 
  }
  
  .dashboard_components:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .dashboard_container {
      flex-direction: column;
    }
  }
  